<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List - Vaccine Management System</title>
    <style>
        .fw-bold {
            font-weight: bolder;
        }

        .asterisk {
            color: #dc3545;
            font-weight: bolder;
        }
    </style>
</head>
<body>
<div class="page-container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-md-2 sidebar">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
        <div class="col-md-10 main-content">
            <div class="container mt-5 pt-4">
                <div th:replace="pages/employee/list-content :: content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="module" th:src="@{/js/api/employee/list.js}"></script>
</body>
</html>