<div th:fragment="content">
  <div class="container mt-4">
    <h2 class="text-center mb-4">CREATE INJECTION SCHEDULE</h2>
    <div class="jumbotron">
      <form id="injection-schedule-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="vaccine">Vaccine(*):</label>
              <select class="form-control" id="vaccine" name="vaccine" required>
                <option value="">-- Select Vaccine --</option>
                <option th:each="vaccine : ${vaccines}"
                        th:value="${vaccine.id}"
                        th:text="${vaccine.name}"></option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="fromDate">From(*):</label>
              <input type="date" class="form-control" id="fromDate" name="fromDate" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="toDate">To(*):</label>
              <input type="date" class="form-control" id="toDate" name="toDate" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="placeOfInjection" class="font-weight-bold">Place of injection<span class="text-danger">*</span>:</label>
              <select id="placeOfInjection" name="placeOfInjection" class="form-control">
                <option value="">-- Select place of injection --</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="note">Note:</label>
              <textarea class="form-control" id="note" name="note" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="mt-4 action-buttons">
            <button type="submit" class="new">Save</button>
            <button type="reset" class="reset">Reset</button>
          <button class="cancel" onclick="window.location.href='/injection-schedule';">Cancel</button>
          </div>
        </div>
      </form>
      <div id="responseMessage" class="mt-4"></div>
    </div>
  </div>
</div>
