<div th:fragment="admin">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Vaccine Management System</h1>
        <p class="lead">Welcome, Admin!</p>
        <hr class="my-4">
        <p>We're glad to have you back. Manage the site efficiently and feel free to explore the latest updates. Let's
            make today productive!</p>
    </div>
</div>
<-- -->
<div th:fragment="customer">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Vaccine Management System</h1>
        <p class="lead">Welcome, customer!</p>
        <hr class="my-4">
        <p>"Welcome, valued customer! We're thrilled to have you here. Explore our offerings and enjoy a seamless
            shopping experience tailored just for you. If you need any assistance, our team is always ready to help. We
            hope you find everything you're looking for and more. Thank you for choosing us, and we look forward to
            serving you!</p>
    </div>
</div>

<div th:fragment="employee">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Vaccine Management System</h1>
        <p class="lead">Welcome, empolyee!</p>
        <hr class="my-4">
        <p>We're excited to have you on board. Your contributions are invaluable to our team, and we look forward to
            working together to achieve our goals. As you navigate through our platform, don’t hesitate to reach out if
            you have any questions or need assistance. Remember, your growth and success are important to us, and we're
            here to support you every step of the way. Let’s make great things happen together!</p>
    </div>
</div>

